/* Libexus, 2021 */

:root {
    --default-margin:  0.6rem;
    --default-padding: 0.6rem;

    --default-border-width: 1px;
    --default-border-style: solid;
    --default-border-color: #ccc;
    --default-border-radius: 3px;
    --default-border: var(--default-border-width) var(--default-border-style) var(--default-border-color);

    --red: #ffe1b7;
    --green: #d5ffb7;
    --yellow: #fff9b7;
    --blue: #b7fff3;

    --error-color:   var(--red);
    --warning-color: var(--yellow);
    --success-color: var(--green);
    --message-color: var(--blue);

    --default-margin-2x: calc( var(--default-margin) * 2 );
    --default-padding-2x: calc( var(--default-padding) * 2 );
}

.hidden {
    display: none !important;
}
