/* (c) Libexus, 2021 */

@import "constants.css";

body {
  max-width: 70rem;
}

.hidden {
  display: none !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Spalten des Editors einrichten
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#editor-embracing {
  display: flex;
  overflow: hidden;
}

#editor-embracing > div {
  background-color: white;
  border: var(--default-border);
  border-width: var(--default-border-width) var(--default-border-width) var(--default-border-width) 0px;
}

#editor-embracing > :first-child {
  border-width: var(--default-border-width);
  border-top-left-radius: var(--default-border-radius);
  border-bottom-left-radius: var(--default-border-radius);
}

#editor-embracing > :last-child {
  border-top-right-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
}

#editor { flex: 1;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Zeilen des Editors einrichten
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#editor-embracing > div {
  display: flex;
  flex-direction: column;
}

#editor-embracing > div > :nth-child(2) {
  flex: 1;
  overflow: auto; /* Allow scrolling inside Flexbox */
  border: var(--default-border);
  border-width: var(--default-border-width) 0px;
}

#search-box {
  border: var(--default-border);
  border-radius: var(--default-border-radius);
  margin: var(--default-margin);
  overflow: hidden;
}

input[type=search] {
  width: 100%;
  border: 0;
  padding: var(--default-padding);
  font-size: 1.2rem;
}

.editor-title-input {
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  max-width: 15ex;
}

.editor-title-left {
  display: inline-block;
  min-width: 1em;
}

.editor-title-left:focus-visible {
  outline: none;
  border-bottom: var(--default-border);
}

#wordlist-content {
  padding: var(--default-padding);
}

.wordbox {
  display: flex;
  border: var(--default-border-width) solid #0000; /* Avoid Buggy behaviour when hovering */
  border-radius: var(--default-border-radius);
}

.wordbox:hover {
  background-color: #ccc;
}

.wordbox.changed {
  background-color: var(--yellow);
}

.wordbox > * {
  padding: var(--default-padding);
}

.wordbox-word {
  flex-grow: 1;
}

.wordbox-close {
  display: none;
  width: 1em;
  height: 1em;
  text-align: center;
  align-self: center;
}

.wordbox:hover > .wordbox-close {
  display: inline-block;
}

.wordbox-close:hover {
  transform-origin: center;
  transform: scale(1.3);
}

#editor-top > *, #preview-top > * {
  font-weight: bold;
  font-size: 1.2rem;
  padding: var(--default-padding);
  margin: var(--default-margin);
}

#editor-title    { float: left; }
#editor-subtitle { float: right; }
#preview-title   { text-align: center; }

.bottom-button {
  border-width: 0px;
  border-radius: 0px;
  width: 100%;
}

#wordlist-new {
  background-color: limegreen;
}

#editor-save {
  background-color: yellow;
}

#preview-reload {
  background-color: lightblue;
}

#editor-empty {
  display: none;
}

#editor-grid.hidden ~ #editor-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#editor-empty-content {
  background-color: red;
  padding: var(--default-padding-2x);
  margin: var(--default-margin-2x);
  max-width: 20rem;
  border-radius: var(--default-padding);
}

#editor-empty-text {
  font-size: 1.4rem;
  margin-bottom: var(--default-margin-2x);
}

#overlay {
  --overlay-z-index: 10;
  position: absolute;
  z-index: var(--overlay-z-index);
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc55;
}

.clickbox #overlay-close {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

#msg-container, #msg-container-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#msg-container > * {
  z-index: calc( var(--overlay-z-index) + 1 );
}

#msg {
  margin: auto;
  padding: 1.2rem;
  border-radius: 0.6rem;
  background-color: bisque;
}
