/* Libexus, 2021 */

@import "constants.css";

* {
    font-family: sans-serif;
}

/* ~~~~~~~~~~~~~~~
   WordlistManager
   ~~~~~~~~~~~~~~~ */

.wordlist-manager-root {
    display: flex;
    flex-direction: column;
    gap: var(--default-margin);
    padding: var(--default-padding);
    border: var(--default-border);
    border-radius: var(--default-border-radius);
}

.wordlist-manager-maincolumn {
    display: flex;
    gap: var(--default-margin);
}

.wordlist-manager-managercolumn, .wordlist-manager-infocolumn {
    flex-grow: 1;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
}

.wordlist-manager-infocolumn {
    display: flex;
    flex-direction: column;
    max-width: 30em;
}

.wordlist-manager-actionsrow {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: var(--default-margin);
}

.wordlist-manager-actionsrow > * {
    padding: var(--default-padding);
    min-width: 8em;
}

/* ~~~~~~~~~~~~~
   WordlistEntry
   ~~~~~~~~~~~~~ */

.wordlist-manager-entry-root {
    display: flex;
    border: 1px solid #0000;
    border-radius: var(--default-border-radius);
    user-select: none;
    align-items: stretch; /* Immer volle Höhe */
}

.wordlist-manager-entry-root:hover, .wordlist-manager-entry-root.wordlist-manager-entry-selected {
    background-color: #ccc;
}

.wordlist-manager-entry-root > * {
    padding: var(--default-padding);
}

.wordlist-manager-entry-info {
    display: flex;
    flex-grow: 1;
    align-items: last baseline; /* Schriften auf selber Höhe */
}

.wordlist-manager-entry-name, .wordlist-manager-entry-clickable {
    flex-grow: 1;
}

.wordlist-manager-entry-id {
    font-size: 0.7rem;
    color: #222;
    visibility: hidden;
}

.wordlist-manager-entry-icon {
    display: flex;
    align-items: center;
    visibility: hidden;
    padding: 0 var(--default-padding);
	cursor: pointer;
}

.wordlist-manager-entry-root:hover .wordlist-manager-entry-id,
.wordlist-manager-entry-root:hover .wordlist-manager-entry-icon {
    visibility: visible;
}

/* ~~~~~~~~~~~~
   WordlistInfo
   ~~~~~~~~~~~~ */

.wordlist-manager-info-very-root {
    flex-grow: 1;
}

.wordlist-manager-info-root {
    display: flex;
    flex-direction: column;
}

.wordlist-manager-info-heading {
	display: flex;
	align-items: stretch;
    text-align: center;
    margin: var(--default-margin);
    border-bottom: var(--default-border);
}

.wordlist-manager-info-root:not(.edit) .wordlist-manager-info-heading-cancel {
	visibility: hidden;
}
.wordlist-manager-info-root:not(.edit) .wordlist-manager-info-heading-apply {
	display: none;
}
.wordlist-manager-info-root.edit .wordlist-manager-info-heading-edit-btn {
	display: none;
}


.wordlist-manager-info-heading-text {
	flex-grow: 1;
	padding: var(--default-padding);
}

.wordlist-manager-info-heading-btn {
	display: flex;
	align-items: end;
	padding: 0 var(--default-padding) var(--default-padding) var(--default-padding);
	cursor: pointer;
	user-select: none;
}

.wordlist-manager-info-entry {
	display: flex;
    margin: 0.3em var(--default-margin);
}

.wordlist-manager-info-entry-desc {
    margin-right: 1ex;
    font-weight: bold;
}

.wordlist-manager-info-entry-info {
	flex-grow: 1;
}

.wordlist-manager-info-entry-info {
	border-bottom: var(--default-border);
	border-color: #0000;
}
.wordlist-manager-info-entry-info[contenteditable=true] {
	border-bottom: var(--default-border);
}

.wordlist-manager-info-noselected {
    display: none;
}

.hidden ~ .wordlist-manager-info-noselected {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.wordlist-manager-info-noselected-content {
    background-color: red;
    padding: var(--default-padding-2x);
    margin: var(--default-margin-2x);
    max-width: 20rem;
    border-radius: var(--default-padding);
}

.wordlist-manager-info-noselected-heading {
    font-size: 1.4rem;
}
